*{
	padding: 0;
	margin: 0;
	
}
button.instaall {
    width: 100%;
    background: 0 0;
    padding: 7px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    float: left;
    width: 50px;
    height: 100vh;
    outline: none;
    border: 1px solid #0095dd;
    font-size: medium;
    cursor: pointer;
}
button.instaall label {
    float: left;
    /* line-height: 37px; */
    width: 100vh;
    height: 100%;
    position: relative;
    -webkit-transform: rotate(269deg);
    -moz-transform: rotate(269deg);
    -ms-transform: rotate(269deg);
    -o-transform: rotate(269deg);
    transform: rotate(269deg);
    cursor: pointer;
}
#canvas1 {
	background: #eee;
	display: block;
	float:right;
	z-index: 2;
	position: relative;
}
#knopka_right{
	/* right: 0; */
	/* text-align: right; */
	width: 8%;
	color: transparent;
	bottom: 6%;
	position: absolute;
	right: 8%;
	height: 300px;
	display:none;
}
img.draggable {
    width: 100px;
}
#knopka_left{ 
    /* display: none; */
    width: 21%;
   /* left: 45%;*/
    position: fixed;
    bottom: 1%;
    height: 16%;
    z-index: 999;
    text-align: center;
	color:transparent;
}
div#abs * {
	right: 0;
	position: absolute;
	text-align: right;
}
/* 
div#knopka_left:after {content: '';position: absolute;width: 100%;height: 100%;background-size: cover;/* left: 0; *//* background: url(right.png);  background-size: contain;  left: 0;  background-image: url(left.png);background-repeat: no-repeat;}
div#knopka_right:after {content: '';position: absolute;width: 100%;height: 100%;background-size: contain;background-image: url(right.png);background-repeat: no-repeat;}
 */
div#abs {
	position: absolute;
	right: 0;
	top: 0;
	position: relative;
	right: 0;
	top: 0;
	width: 200px;
	height: 40px;
}
div#gameover {
    width: 100%;
    float: left;
    position: absolute;
    top: 37%;
    /* max-width: 400px; */
    line-height: 53px;
    text-align: center;
    margin: auto;
    font-size: xx-large;
    color: #575353;
    display:none;
    z-index: 2;
}
 
div#gameover a {
    color: #575353;
    text-decoration: none;
}
div#gamevin {
    width: 100%;
    float: left;
    position: absolute;
    top: 37%;
    /* max-width: 400px; */
    line-height: 53px;
    text-align: center;
    margin: auto;
    font-size: xx-large;
    color: #575353;
    display:none;
    z-index: 2;
}
 
div#gamevin a {
    color: #575353;
    text-decoration: none;
}
canvas.bodyend {
    opacity: 0.4;
    background:rgb(128 171 193 / 0%) !important;
}

@media screen and (max-height: 376px) {
	button.instaall label { 
		font-size:11px;
	}
	div#gamevin { 
		top: 19%;
	}
	div#gameover { 
		top: 19%;
	}
}